<div class="section">
  <div class="container">
    <div class="jumbotron">
      <h1>Artists</h1>
    </div>
    <%= render "layouts/menu" %>

    <% if current_user %>
      <%= image_tag(current_user.avatar.url(:medium)) %>
      <%= current_user.email %>
    <% end %>

    <%= image_tag "dog.jpeg" %>
    <ul>
      <% @artists.each do |single_artist| %>
        <li><%= link_to single_artist.name, artist_path(single_artist) %> | <%= single_artist.genre %></li>
      <% end %>
    </ul>

    <p><%= link_to "Add New Artist", new_artist_path %></p>
  </div>
</div>
